#mainBody{
	background-color:black;
	text-align:centre;
	font-family:none;
	text-align:center;
	color:white;
}
.container{
	
}
.show{ /*this is just for testing*/
	background-color: blue;
	color: black;
}
.row{
	background-color:grey;
	marigin-top:100px;
	min-height:100px;
	justify-content: space-between;
}
.linkStyle{ /*this can be the style used in the links/tabs for navigation at the top of the page*/
	margin: 0;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: none;
	border: none; 
}


#navBar {
  	background-color:black;
	background-image: linear-gradient(to right, red , yellow); /*this gradient thing is pretty neat. https://www.w3schools.com/css/css3_gradients.asp*/
}
#carousel {
  background-color:white;
}
#mainContent {
  background-color:grey;
}
#footer {
  background-color:black;
}
