#mainBody{
	background-color:black;
	text-align:centre;
	font-family:none;
	color:white;
}
.container{
	
}
.show{ /*this is just for testing*/
	background-color: blue;
	color: black;
}
.row{
/*	background-color:grey;  ----affects footer*/ 
	margin-top:100px;
	min-height:100px;
	justify-content: space-between;
	margin:auto;
}

/* THIS FRAGMENT WILL NEED TO GO IN THE FFINAL FILE


@media(min-width:500px){ /*makes the links in the nav bar stack nicely
	.linkStyle{ /*this can be the style used in the links/tabs for navigation at the top of the page
	background-color:none;
	margin:auto;
	width: 12%;
	height: auto;
	border: none;
	font-size: 25px;
	padding: 0px;


	transition-duration: 0.9s;
	align-items: center;
	justify-content: center;
	flex-wrap:wrap;
	
	
	

	}

.btn btn-outline-secondary{
}

.button{
	transition-duration: 0.5s;
	cursor: pointer;
	height:auto;
}
.button:hover {
	background-color: red;
}

UP TO HERE. */

#linkGroup{
}

#navBar {
  	background-color:black;
	background-image: linear-gradient(to right, white , black); /*this gradient thing is pretty neat. https://www.w3schools.com/css/css3_gradients.asp*/
}
#carousel {
  background-color:white;
  margin:auto;
}
.carousel .item {
	height: 100px;
}
  
.item img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  min-height: 100px;
}


#mainContent {
	background-color:white;
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	min-height:500px;
	margin:auto;
}
#footer {
  	background-color:black;
	color:white;
}

/* comment for the report: the following list and the css were borrowed from CSS Horizontal Navigation Bar at https://www.w3schools.com/css/css_navbar_horizontal.asp, access: 7/12/2022 */
@media(min-width:500px){
	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color:;
	}

	li {
	  float: left;
	  
	}

	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 25px 25px;
	  text-decoration: none;
	  height: auto;
	}
	ul a:hover {
		background-color: black;
		color: white;
	}
}
.activePage{
  background-color: black;
}